.Input img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.Container{
    display:flex;
    flex-direction: column;
    margin: auto;
    background: lightgray;
    margin-top: 100px;
    padding-bottom: 30px;
}
.Header{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;

}
.Text{
  color:#3c009d;
  font-size: 48px;
  font-weight: 700;
}
.underline{
  width:61px;
  height:6px;
  background:#6f24e7;
  border-radius: 10px;
}
.Inputs{
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.Input{
  display: flex;
  align-items: center;
  margin: auto;
  background: transparent;
  width: 400px;
  height: 60px;
  background:rgb(180, 181, 180);
  /*border-radius: 6px;*/
}

.Inputs img{
  margin: 30px 30px;
}

.Input input{
  width: 400px;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  color: #797979;
  font-size: 20px;
}
.Forget-Password{
  padding-left: 20px;
  margin-left: 20px;
  color:#797979;
  font-size: 27px;
}